

body{
    background-image: url(../img/background/bg-greenn.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
}




h1 {
    color: black;
    font-family: $styleFont;
    font-size: $font;

}

h3{ 
    color:rgb(112, 185, 145);
    font-family: $styleFont

}

#main{
    background-image: url(../img/background/Womansmokingweed-766ebf3527144025bf3e07ac7ae4bd99.jpg);
}
